ion-toolbar {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
}

/* ion-card {
    width: 180px;
    height: 180px;
} */



ion-card-content {
    text-align: center;
    font-weight: bold;
    --border-color:"primary"
}
